<h1>{{snowboard.name}}</h1>
<hr>
<div>
   <h4>Price: ${{snowboard.price}}</h4>
</div>
<a href="/companies/{{companyId}}/snowboards/{{snowboard._id}}/edit">Edit</a>
<hr>
<br><br>
<a href="/companies/{{companyId}}/snowboards">back</a>